body {background-color: #E6E5D1;}

#container {margin: 20px auto;}

#grid {
	background-color: #FFFFFF;
	border-radius: 5px 5px;
	border: 2px solid #000000;
	height: 430px;
	margin: 0px auto;
	padding-top: 15px;
	position: relative;
	text-align: center;
	width: 445px;
 }

.cell {
	background-color: #D1E3EB;
	border-radius: 3px 3px;
	border: 1px solid grey;
	box-shadow: 1px 1px 2px #888888;
	display: inline-block;
	height: 100px;
	margin-bottom: 4px;
	text-align: center;
	vertical-align: top;
	width: 100px;
 }

	.cell span {
		color: #000000;
		font-family: verdana;
		font-size: 2.3em; /*font-size: 55px;*/
		line-height: 95px;
		text-decoration: bold;
	 }

#top {
	height: 39px;
	margin: 0px auto;
	width: 445px;
 }

	#top input[type="button"] {
		clear: both;
		float: right;
		height: 30px;
		width: 100px;
	 }

#gameOver {
	background-color: #E8E468;
	border-radius: 5px 5px;
	border: 2px solid #000000;
	display: none;
	font-family: Arial;
	font-size: 55px;
	height: 130px;
	left: 121px;
	margin: 0px auto;
	position: absolute;
	text-align: center;
	top: 154px;
	width: 200px;
 }

#total, #lastScore {
	color: #D42222;
	font-family: Arial;
	font-size: 25px;
 }

#header {
	height: 90px;
	margin: 0px auto;
	width: 445px;
 }

	#header .gameTitle {
		color: #8FA1C7;
		font-family: Verdana;
		font-size: 55px;
		text-shadow: 1px 1px #FFFFFF;
	 }

	#header .gameDev {
		color: #8FA1C7;
		font-family: Arial;
		font-size: 35px;
		text-shadow: 1px 1px #FFFFFF;
	 }

